//$interface-images: sprite-map( "interface-images/*.png" );
//$interface-images-width: sprite-width( $interface-images );
//$interface-images-height: sprite-height( $interface-images );

.payment-shipping-options {

	max-width: 323px;
	@include inline-block-list();
	margin-right: auto;
	margin-left: auto;

	text-align: center;
	@include breakpoint( $bp-payment-shipping-options-inline ) {

		max-width: 100%;
		text-align: justify;
	}

	&:after {

		@include breakpoint( $bp-payment-shipping-options-inline ) {

			content: '';
			display: inline-block;
			width: 100%;
		}
	}
}

.list-item--payment,
.list-item--shipping {

	position: relative;
	@include trailer( 1, $base-font-size );
	margin-right: rhythm( .5, $base-font-size );

	@include breakpoint( $bp-payment-shipping-options-inline ) {

		margin-bottom: 0;
	}
}

.list-item--payment {
}

.list-item--interac {
	width: image-width( sprite-file( $interface-images, interac ) );
	height: image-height( sprite-file( $interface-images, interac ) );
	background: sprite( $interface-images, interac, 0, 0, true) no-repeat;
//	background-size: 100%;
}

.list-item--visa {
	width: image-width( sprite-file( $interface-images, visa ) );
	height: image-height( sprite-file( $interface-images, visa ) );
	background: sprite( $interface-images, visa, 0, 0, true) no-repeat;
//	background-size: 100%;
}

.list-item--mastercard {

	width: image-width( sprite-file( $interface-images, mastercard ) );
	height: image-height( sprite-file( $interface-images, mastercard ) );
	background: sprite( $interface-images, mastercard, 0, 0, true) no-repeat;
//	background-size: 100%;
}

.list-item--paypal {
	width: image-width( sprite-file( $interface-images, paypal ) );
	height: image-height( sprite-file( $interface-images, paypal ) );
	background: sprite( $interface-images, paypal, 0, 0, true) no-repeat;
//	background-size: 100%;

	@include breakpoint( $bp-paypal-right-margin-increase ) {

		margin-right: 10%;
	}
}

.list-item--shipping {
}

.list-item--purolator {

	width: image-width( sprite-file( $interface-images, purolator-logo ) );
	height: image-height( sprite-file( $interface-images, purolator-logo ) );
	background: sprite( $interface-images, purolator-logo, 0, 0, true) no-repeat;
}

.list-item--ups {
	width: image-width( sprite-file( $interface-images, ups-logo ) );
	height: image-height( sprite-file( $interface-images, ups-logo ) );
	background: sprite( $interface-images, ups-logo, 0, 0, true) no-repeat;
}

.list-item--fedex {
	width: image-width( sprite-file( $interface-images, fedex-logo ) );
	height: image-height( sprite-file( $interface-images, fedex-logo ) );
	background: sprite( $interface-images, fedex-logo, 0, 0, true) no-repeat;

	@include breakpoint( $bp-fedex-margin-zero ) {

		margin-right: 0;
	}

	@include breakpoint( $bp-payment-shipping-options-inline ) {

		margin-right: rhythm( .5, $base-font-size );
	}
}

.list-item--canada-post {
	width: image-width( sprite-file( $interface-images, canada-post-logo ) );
	height: image-height( sprite-file( $interface-images, canada-post-logo ) );
	background: sprite( $interface-images, canada-post-logo, 0, 0, true) no-repeat;

	@include breakpoint( $bp-payment-shipping-options-inline ) {

		margin-right: 0;
	}
}
