# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore paths that are used for Development purposes
sites/all/modules/devel
sites/all/modules/node_clone
sites/all/modules/node_convert
sites/all/modules/views_bulk_operations