
.l-main {

	position: relative;
	background: #ffffff;
	clear: both;
//	overflow: hidden;

//	@include transition( all .3s ease-in-out );

	&.sidebar-menu__active {

		@include translateX( - bp-sidebar-second-width() );
	}

	@include breakpoint( $bp-max-width-res ) {
		$grid-span: column-span( 1, 1 );
      $margin: gutter-span()/1.9;
		@include clearfix;
		max-width: 100%;
		margin: 0 $margin;
		overflow: visible;
	}
}