/*** uncss> filename: https://fonts.googleapis.com/icon?family=Material+Icons ***/

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v7/2fcrYFNaTjcS6g4U3t-Y5StnKWgpfO2iSkLzTz-AABg.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
}

/*** uncss> filename: http://fonts.googleapis.com/css?family=Open+Sans:normal,italic,bold,bolditalic%7CCinzel:700 ***/

@font-face {
  font-family: 'Cinzel';
  font-style: normal;
  font-weight: 700;
  src: local('Cinzel-Bold'), url(http://fonts.gstatic.com/s/cinzel/v4/L74890HNVnUypqWjqGUt1aCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3aCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzInF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(http://fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBp0EAVxt0G0biEntp43Qt6E.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(http://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxp_TkvowlIOtbR7ePgFOpF4.ttf) format('truetype');
}

/*** uncss> filename: http://static.olark.com/css/c/4/c477a5a3d814a816275839adadf9f846.css?http ***/

#habla_window_div,
#habla_window_div form,
#habla_window_div div,
#habla_window_div span,
#habla_window_div input,
#habla_window_div textarea,
#habla_window_div a {
  background-attachment: scroll;
  background-color: transparent;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
  border-color: black;
  border-style: none;
  border-width: medium;
  clear: none;
  clip: auto;
  color: inherit;
  counter-increment: none;
  counter-reset: none;
  cursor: auto;
  direction: inherit;
  display: inline;
  float: none;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-variant: normal;
  font-weight: inherit;
  height: auto;
  letter-spacing: normal;
  line-height: inherit;
  list-style-type: inherit;
  list-style-position: inside;
  list-style-image: none;
  margin: 0;
  max-height: none;
  max-width: none;
  outline: invert none medium;
  overflow: visible;
  padding: 0;
  position: static;
  quotes: "" "";
  table-layout: auto;
  text-align: inherit;
  text-decoration: inherit;
  text-transform: none;
  unicode-bidi: normal;
  vertical-align: baseline;
  visibility: visible;
  white-space: normal;
  width: auto;
  word-spacing: normal;
  z-index: auto;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  opacity: 1;
}

#habla_window_div,
#habla_window_div form,
#habla_window_div div,
#habla_window_div textarea {
  display: block;
}

#habla_window_div a,
#habla_window_div input[type=submit] {
  cursor: pointer;
}

#habla_window_div a:hover {
  text-decoration: underline;
}

#habla_window_div input {
  vertical-align: middle;
}

#habla_window_div textarea,
#habla_window_div input {
  border: 1px solid #ccc;
}

#habla_window_div input[type=submit] {
  width: auto;
  font-size: 12px;
  padding: 3px 10px;
  margin: 5px 0 10px 0;
  border-radius: 3px;
  min-height: 0;
  clear: both;
}

#habla_window_div {
  font-size: 100%;
  line-height: 1;
  direction: ltr;
  text-align: left;
  font-family: "Times New Roman",Times,serif;
  color: black;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

#habla_window_div input[type='submit'] {
  width: auto;
  font-size: 14px;
}

#habla_window_div [class*="span"] {
  float: none;
  margin-left: 0;
}

#habla_window_div.habla_window_div_base {
  display: block!important;
  z-index: 99999999;
}

#habla_window_div #habla_panel_div {
  overflow: hidden;
}

#habla_window_div #habla_middle_div {
  padding: 6px 10px 3px 10px;
}

#habla_window_div textarea {
  max-width: 100%;
  width: 100%;
  box-sizing: content-box;
  resize: none;
  overflow: hidden;
}

#habla_window_div #habla_offline_body_input,
#habla_window_div #habla_wcsend_input {
  resize: vertical!important;
  overflow: auto!important;
  max-height: 500px!important;
}

#habla_window_div #habla_input_div {
  margin-left: -17px;
  margin-right: -5px;
}

#habla_window_div #habla_chatform_form {
  padding: 3px 10px 0 10px;
}

#habla_window_div #habla_conversation_div {
  padding: 6px 10px 0 10px;
  margin: -6px -10px 0 -10px;
}

#habla_window_div #habla_name_input,
#habla_window_div #habla_offline_email_input,
#habla_window_div #habla_offline_body_input,
#habla_window_div #habla_pre_chat_name_input,
#habla_window_div #habla_pre_chat_email_input,
#habla_window_div #habla_pre_chat_phone_input {
  overflow: hidden;
  box-sizing: content-box;
}

#habla_window_div #habla_pre_chat_div,
#habla_window_div #habla_offline_message_sent_div,
#habla_window_div #habla_offline_message_div {
  padding: 0 10px 0 10px;
  margin-left: -10px;
}

#habla_window_div {
  font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
  font-size: 14px;
}

#habla_middle_div {
  line-height: 1.5em;
}

#habla_window_div #habla_expanded_div {
  border-left: 1px solid #ededed;
  border-right: 1px solid #ededed;
}

#habla_window_div.olrk-fixed-bottom .habla_panel_border,
#habla_window_div.olrk-fixed-bottom #habla_topbar_div {
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#habla_window_div .habla_conversation_div {
  background: transparent none repeat scroll 0 0;
  border-bottom: 1px dotted #ededed;
  line-height: 1.5em;
  overflow: auto;
  color: black;
  width: 100%;
}

#habla_window_div #habla_wcsend_input {
  background: transparent none repeat scroll 0 0;
  overflow: auto;
  padding: 5px;
  vertical-align: text-top;
  line-height: 1.5em;
}

#habla_window_div .habla_wcsend_input_normal {
  border: 1px solid #b6b6b6;
  color: black;
}

#habla_window_div .habla_wcsend_input_pre {
  color: gray;
}

#habla_window_div #habla_offline_message_span,
#habla_window_div #habla_pre_chat_span {
  margin-bottom: 5px;
  display: block;
}

#habla_window_div #habla_offline_message_div,
#habla_window_div #habla_pre_chat_div {
  line-height: 1.5em;
}

#habla_window_div #habla_offline_message_span {
  margin-bottom: 5px;
  display: block;
}

#habla_window_div #habla_name_input,
#habla_window_div #habla_offline_email_input,
#habla_window_div #habla_offline_body_input,
#habla_window_div #habla_pre_chat_name_input,
#habla_window_div #habla_pre_chat_email_input,
#habla_window_div #habla_pre_chat_phone_input,
#habla_window_div #habla_pre_chat_phone_input {
  border: 1px solid #e4e4e4;
  padding: 4px;
  margin-bottom: 5px;
  font-size: .9em;
  border-radius: 3px;
  -moz-border-radius: 3px;
}

#habla_window_div .habla_offline_submit_input {
  background: #d54f27 none repeat scroll 0 0;
  border: medium none #ededed;
  color: white;
  float: right;
  cursor: pointer;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 1px 6px 1px 6px;
  margin: 5px -10px 10px 0;
}

#habla_window_div .habla_offline_error_span,
#habla_window_div #habla_pre_chat_error_span {
  float: left;
  font-style: italic;
  line-height: 1.5em;
}

#habla_window_div #habla_topbar_div {
  background: #5ba0d0 none repeat scroll 0 0;
  color: #FFF;
  padding: 10px;
  cursor: pointer;
}

#habla_window_div #habla_oplink_a {
  color: white;
  text-decoration: none;
}

#habla_window_div .clear_style {
  clear: both;
}

#habla_window_div .habla_button {
  float: right;
  margin-top: -1px;
  margin-left: 4px;
  padding: 0;
  width: 16px;
  height: 16px;
  border-radius: 5px!important;
  -moz-border-radius: 5px!important;
  -webkit-border-radius: 5px!important;
  background-position: 0 top;
  background-repeat: no-repeat!important;
  cursor: pointer!important;
  overflow: hidden;
  line-height: 1000px;
  background-image: url(/themes/azul/buttons-light.png);
}

#habla_window_div .habla_button:hover {
  background-color: #333;
}

#habla_window_div #habla_sizebutton_a:hover {
  background-color: #333;
}

#habla_window_div #habla_panel_div #habla_expanded_div a {
  color: #246092;
}

#habla_window_div #habla_panel_div #habla_expanded_div a:visited {
  color: #246092;
}

#habla_window_div #habla_panel_div #habla_expanded_div a:active {
  color: #246092;
}

.olrk-state-compressed .olrk-fixed-bottom #habla_topbar_div {
  -webkit-animation-name: tab_in_bottom;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
}

.olrk-state-compressed .olrk-fixed-bottom #habla_sizebutton_a {
  background-position: -80px top!important;
}

#habla_window_div * {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -o-box-sizing: content-box;
}

a.hbl_pal_title_fg {
  color: !important;
}

.hbl_pal_main_bg {
  background-color: white!important;
}

.hbl_pal_title_fg {
  color: !important;
}

.hbl_pal_title_bg {
  background-color: !important;
}

.hbl_pal_offline_submit_fg {
  color: !important;
}

.hbl_pal_offline_submit_bg {
  background-color: !important;
}

div.hbl_pal_main_height {
  height: 150px!important;
}

div.hbl_pal_main_width {
  width: 250px!important;
}

.olrk-fixed-bottom {
  position: fixed;
  bottom: 0;
  top: auto;
}

.olrk-fixed-right {
  position: fixed;
  right: 0;
  left: auto;
}
