.pane--featured {

	display: none;

	@include breakpoint( $bp-features ) {

		display: inline-block;
		position: relative;
		left: 50%;
		@include trailer( 1, $base-font-size );
		@include translateX( -50% );
		vertical-align: top;
	}
}
