.pane--social-networking-badges {

	.l-region--branding & {

		display: none;

		@include breakpoint( $bp-12-grid ) {

			$gutter-width: gutter-span();
			display: block;
			position: absolute;
			top:0;right:$gutter-width/2;
		}

		@include breakpoint( bp-min-width-grid() ) {

			right: 0;
		}
	}

	.l-region--header & {

		@include breakpoint( $bp-12-grid ) {

			display: none;
		}
	}


	.local-tel__link,
	.local-tel__link:link,
	.local-tel__link:visited,
	.local-tel__link:hover,
	.local-tel__link:active {

		@extend %tel-link;
	}

  a.tel__link {
    @include adjust-font-size-to($sm-medium-font-size);

    @include breakpoint($bp-12-grid) {

      @include adjust-font-size-to($lg-medium-font-size);
    }
  }

	.toll-free-tel__link,
	.toll-free-tel__link:link,
	.toll-free-tel__link:visited,
	.toll-free-tel__link:hover,
	.toll-free-tel__link:active {

		@extend %tel-link;
	}

	.tel__separator {

      .l-region--branding & {

        display:none;

        @include breakpoint($bp-social-networking-grid) {

          display: block;
          text-align: center;
        }
      }

      .l-region--header & {

        display: none;

        @include breakpoint( $bp-social-networking-grid ) {

            display: inline-block;
        }
      }
	}

	.toll-free-tel__link {

		.l-region--header & {

			display: none;

			@include breakpoint( $bp-social-networking-grid ) {

				display: inline-block;
			}
		}
	}

	.tel {

		color: $alpha-color;
		text-align: center;

		.l-region--branding & {

			margin-bottom: rhythm( .25, $lg-base-font-size );
		}

		.l-region--header & {

//			@include leader( .15, $sm-base-font-size );
			$padding: rhythm( .25, $sm-base-font-size );
			float: left;
			margin-bottom: 0;
			padding-left: $padding;
		}
	}
}

.social-networking-badges--block {

	.l-region--header & {

		@include clearfix;
		display: table;
		position: relative;
		left: 50%;
		@include trailer( 1, $sm-base-font-size );
		@include translateX( -50% );
	}
}

.social-networking-badges {

	@include no-bullets;
	@include inline-block-list( 0 );
	text-align: center;

	li {

		position: relative;
		width: 32px;
		height: 32px;
		margin-left: rhythm( .2, $lg-base-font-size );
		margin-right: rhythm( .2, $lg-base-font-size );

		&:first-of-type {

			margin-left: 0;
		}

		&:last-of-type {

			margin-right: 0;
		}
	}

	.l-region--header & {

		float: left
	}
}

.social-networking-badges__link {

	display: block;
	width: image-width( sprite-file( $interface-images, 'facebook' ) );
	height: image-height( sprite-file( $interface-images, 'facebook' ) );
}

.social-networking-badges__link img {

	.l-region--header & {

		display: block;
	}
}

.interface-images-facebook {

	background: sprite( $interface-images, facebook, 0, 0, true ) no-repeat;
}

.interface-images-twitter {

	background: sprite( $interface-images, twitter, 0, 0, true ) no-repeat;
}

.interface-images-pinterest {

	background: sprite( $interface-images, pinterest, 0, 0, true ) no-repeat;
}

