$base-font-family:  Palatino,"Palatino Linotype","Hoefler Text",Times,"Times New Roman",serif;

$sm-xxlarge-font-size: 29px; //ms(4);
$sm-xlarge-font-size : 24px; //ms(3);
$sm-large-font-size  : 20px; //ms(2);
$sm-medium-font-size : 17px; //ms(1);
$sm-base-font-size   : 14px; //ms(0);
$sm-small-font-size  : 12px; //ms(-1);
$sm-xsmall-font-size : 10px;  //ms(-2);

$lg-xxlarge-font-size: 33px; //ms( 4 );
$lg-xlarge-font-size : 28px; //ms( 3 );
$lg-large-font-size  : 23px; //ms( 2 );
$lg-medium-font-size : 19px; //ms( 1 );
$lg-base-font-size   : 16px; //ms( 0 );
$lg-small-font-size  : 13px; //ms( -1 );
$lg-xsmall-font-size : 11px; //ms( -2 );
