.l-region--navigation {

	@include breakpoint( $bp-max-width-res ) {
//		width: 100%;
		margin: 0 gutter-span();
		background: #ffffff;
		overflow: hidden;
	}

//	@include breakpoint( bp-min-width-grid() ) {
//
//		max-width: bp-min-width-res();
//	}
}