.l-region--navigation {

	@include breakpoint( $bp-12-grid ) {
		width: 100%;
		margin: 0 auto;
		background: #ffffff;
		overflow: hidden;
	}

	@include breakpoint( bp-min-width-grid() ) {

		max-width: bp-min-width-res();
	}
}