.taxonomy-term-description {

	@include trailer( 1, $sm-base-font-size );

	@include grid-span( 4, 1 );

	@include breakpoint( $bp-6-grid ) {

		@include grid-span( 6, 1 );
	}

	@include breakpoint( $bp-12-grid ) {

		float: none;
		max-width: bp-min-width-res();
		margin-top: 0;
		margin-right: auto;
		@include trailer( 2, $lg-base-font-size );
		margin-left: auto;
	}
}
