//
// Get the minimum width of layout minus one grid-span on either side at
// grid 12 and gutter 1/3
//

@function bp-min-width-res() {

	$column-width          : column-span( 1 , 1, 12, 1/3 );
	$column-width-unitless : ( $column-width / ( $column-width * 0 + 1 ) );
	$column-width-px       : $bp-max-width-res * ( $column-width-unitless/100 );
	@return $bp-max-width-res - ( $column-width-px * 2 );
}

@function bp-min-width-grid() {

	@return 'screen' bp-min-width-res();
}

@function bp-sidebar-second-width() {

	$column-width          : column-span( 2 , 11, 12, 1/3 );
	$column-width-unitless : ( $column-width / ( $column-width * 0 + 1 ) );
	$column-width-px       : $bp-max-width-res * ( $column-width-unitless/100 );
	@return $column-width-px;
}

@function bp-sidebar-second-menu-width() {

	$column-width          : column-span( 2 , 11, 12, 1/3 );
	$column-width-unitless : ( $column-width / ( $column-width * 0 + 1 ) );
	$column-width-px       : $bp-max-width-res * ( $column-width-unitless/100 );

	$gutter-width          : gutter-span( 1/3, 12 );
	$gutter-width-unitless : ( $gutter-width / ( $gutter-width * 0 + 1 ) );
	$gutter-width-px       : $bp-max-width-res * ( $gutter-width-unitless/100 );
	@return $column-width-px - $gutter-width-px;
}