input[type="text"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="range"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"] {

	@include adjust-font-size-to( $sm-base-font-size );

	@include breakpoint( $bp-12-grid ) {

		@include adjust-font-size-to( $lg-base-font-size );
	}
}

.form-submit,
.node-readmore,
.field--source,
.article--readmore {

	padding: 0.357em 1.071em;
	background: $beta-color;
	@include background-image( linear-gradient(lighten( $beta-color, 10 ),$beta-color));
	border-radius: 20px;
	border: 1px solid $beta-color;
	border-bottom: 1px solid lighten( $beta-color, 10 );
	border-right-color: darken( $beta-color, 10 );
	border-left-color: darken( $beta-color, 10 );
	color: #ffffff;
	@include text-shadow( 1px 1px 0 darken( $beta-color, 10 ) );
	outline: none;

	a:link,
	a:visited,
	a:hover,
	a:active {

		color: #ffffff;
	}

	&:hover {
		@include background-image( linear-gradient( $beta-color, lighten( $beta-color, 10 ) ) );
	}

	&:active {
		background: lighten( $beta-color, 20 );
		border-color: lighten( $beta-color, 10 )  ;
	}

	&:disabled {
		background:#8A9EF0;
		border-color: #7084D6;
		color: lighten( #ffffff, 75 );
	}
}

.node-readmore {

	@include breakpoint( $bp-readmore-link-inline-block ) {

		display: inline-block;
	}
}

.user-login {

	@include grid-span( 4, 1 );

	@include breakpoint( $bp-6-grid ) {

		@include grid-span( 6, 1 );
	}

	@include breakpoint( $bp-12-grid ) {

		float: none;
		clear: both;
		width: auto;
		max-width: bp-min-width-res();
		margin: 0 auto;
	}
}

.form-text {

	outline-color: $alpha-color;
	@include transition( all .3s ease-in-out );
}