ul,
ol {
  margin-top: rhythm( 1, $sm-base-font-size );
  margin-bottom: rhythm( 1, $sm-base-font-size );
  margin-left: 0;
  padding-left: 1.2em;

	ul,
	ol {
		margin-top: 0;
		margin-bottom: 0;
	}
}

ul {

	&.contact {

		@include no-bullets;
		padding-left: 0;

		ul {
			margin-top: 0;
			margin-bottom: 0;
			padding-left: 50px;
		}
	}

	&.tabs--primary {

		border-color: $alpha-color;
	}

	&.node__links {

		padding-left: 0;
	}
}

li {

	.tabs--primary & {

		a {

			background-color: $alpha-color;
			color: #ffffff;
			@include text-shadow( 1px 1px 0 darken( $alpha-color, 10 ) );
		}

		&.active {

			a {
				background: lighten( $alpha-color, 7 );
			}
		}
	}
}

.pricing__list--footer {

	@include no-bullets;
	margin-top: 0;
	padding-left: 0;
}

.pricing__list-item--odd,
.pricing__list-item--even {

	border: 1px solid $border-color;
	border-top: none;
	p {

		margin-bottom: 0;
		padding: rhythm(.5);
	}
}

.pricing__list-item--odd {

	p {

		//background-color: lighten($alpha-color,10);
		//color: #ffffff;
		//@include alpha-color-text-shadow;
	}
}

.pricing__list-item--even {

	p {

		//background: lighten($beta-color, 10);
		//color: #ffffff;
		//@include beta-color-text-shadow;
	}
}

