img {

	vertical-align: top;

	.pane--hero-image & {

		position: absolute;
		top: 50%;
		width: 100%;
		@include translateY( -50% );
	}
}
.embed-video {
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden; 
	max-width: 100%; 
	height: auto;
	@include trailer( 1, $sm-base-font-size );

	@include breakpoint( $bp-12-grid ) {

		@include trailer( 1, $lg-base-font-size );
	}
} 
.embed-video iframe, 
.embed-video object, 
.embed-video embed { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
}

figcaption {

	font-weight: 700;
}