.service-guarantee {

  @include trailer(.5, $base-font-size);
  background-color: $beta-color;
}

.service-guarantee--header {

  @include clearfix;
  cursor: pointer;
}

.service-guarantee--title {

  float: left;
  padding-left: rhythm(.75, $base-font-size);
  @include adjust-font-size-to($lg-medium-font-size, 1.5);
  font-family: Cinzel;
  color: #ffffff;
}

.service-guarantee--toggle {

  float: right;
  padding-right: rhythm(.75, $base-font-size);
  @include adjust-leading-to(1.5);
  color: #ffffff;

  .material-icons {

    vertical-align: middle;
  }
}

.service-guarantee--content {

  max-height: 0;
  clear: both;
  background-color: lighten($beta-color, 20);
  color: #ffffff;
  overflow: hidden;
  @include single-transition(max-height, .5s);
  @include text-shadow(1px 1px 0 0 darken($beta-color, 10));

  .service-guarantee--expand & {

    max-height: 358px;

    @include breakpoint($bp-6-grid) {

      max-height: 218px;
    }

    @include breakpoint($bp-12-grid) {

      max-height: 150px;
    }
  }
}


.service-guarantee__list {

  $border: rhythm(.25, $base-font-size);
  margin: 0;
  padding-top: rhythm(1, $base-font-size);
  padding-right: rhythm(1, $base-font-size);
  padding-left: rhythm(1, $base-font-size);
  border-right: $border solid $beta-color;
  border-bottom: $border solid $beta-color;
  border-left: $border solid $beta-color;
  @include box-shadow(2px 2px 4px 0 lighten($beta-color, 10) inset, -1px -1px 0 0 lighten($beta-color,30) inset);
  @include no-bullets;
}